{% extends 'base.html.twig' %}

{% block title %}Auberge{% endblock %}
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
        <!-- Custom styles for this template -->
    {% endblock %}

    {% block javascripts %}
        <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/index.global.min.js'></script>
        <script>

            document.addEventListener('DOMContentLoaded', function() {
                var calendarEl = document.getElementById('calendar');
                var calendar = new FullCalendar.Calendar(calendarEl, {
                    initialView: 'dayGridMonth',
                    locale:'fr',
                    headerToolbar: {
                        left: 'prev,next',
                        center: 'title',
                        right: 'timeGridWeek,timeGridDay,dayGridMonth,listWeek',
                    },
                    events:
                    {{ json|raw }}
                });
                calendar.render();
            });

        </script>
    {% endblock %}

{% block body %}
    <div class="container">
        <div id='calendar'></div>

    </div>

{% endblock %}