{% extends 'base.html.twig' %}

{% block title %}Edit Bed{% endblock %}

{% block body %}
    <h1>Edit Bed</h1>

    {{ include('bed/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_bed_index') }}">back to list</a>

    {{ include('bed/_delete_form.html.twig') }}
{% endblock %}
